{{set . "title" "Home"}}
{{template "headerLogin.html" .}}

  <br>
  <div class="container">
    <form action="App/Home" class="form-signin" method="post">
      <h2 class="form-signin-heading">Log in</h2>
      <label for="UserID" class="sr-only">UserID</label>
      <input type="text" id="userId" class="form-control" placeholder="UserId" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>

{{template "footer.html" .}}
