{{set . "title" "Home"}} {{template "headerLogin.html" .}}

<br>
<div class="container">
    <div class="row">
        <h3>勤怠記録</h3>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>日付</th>
                <th>勤怠区分</th>
                <th>開始時刻</th>
                <th>終了時刻</th>
                <th>基本労働時間</th>
                <th>時間外労働時間</th>
                <th>深夜労働時間</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

{{template "footer.html" .}}